.svg-inline--fa.fa-w-16{
  width:4em !important;
  }
  .form-inline{
    margin-right:0 !important;
    }.header-end{
margin-top: 0;
margin-bottom: 0;
border: none;
border-top: 1px solid white;
}

.collapse{
  display:flex;
  }
  @media(max-width:991px){
    button.dropbtn{
      outline:none;
      border:none;
    }
    .dropdown-content.a a {
    color: lightblue !important;
}
    .mobileViewUnder{
      display:none;

    }.mobileViewUnder a{
      color: lightblue !important;
      }.line{
      display:block !important;
    }.separate{
      border:0 !important;
      margin:0 !important;
    }.collapse{
      background-color: black !important;
    }.dropdown-content.a{
      color:white !important;
    }
.dropbtn{
  padding-left:0 !important;
  padding-right:0 !important;
  background-color: black !important;
}
.column{
  width:100% !important;
}.navbar-nav{
  text-align:left !important;
}
    #navbarNavDropdown{
      margin-left: 0 ;

    }
    .dropdown-content a{
      display:none;
      font-size: 1.2rem;
    }
    .navbar-nav{
      position:absolute;
      top:10%;
    }
.collapse   {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 100%;
  top: 0;
background-color: white;
color: black;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-left:0;
  padding-left:0;
}

.collapse a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.12em;
  margin-left: 7%;
  display: block;
  transition: 0.3s;
}

.collapse a:hover {
}

.collapse .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}}/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/templates/shop-homepage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
 */.header-end{
   margin-top: 0;
 margin-bottom: 0;
 border: none;
 border-top: 1px solid white;
 }.fixed-top{
   position:static;
 }
 a{color: white;}
 @media only screen and (max-width:991px){
   .navbar-brand{
     margin:0;
     position: absolute;
     left:8%;
   }.form-inline{margin-left:0;
   }
 }
   @media only screen and (max-width:1047px){
     button.myButton{
       margin-left:33%;
     }.form-inline{margin-left:0;}

   }
   @media only screen and (max-width:1405px) and (min-width:991px){
     .navbar-brand{
       margin:0;
       position: absolute;
       left: 2%;
     }.navbar-nav{
       position:absolute;
       left:20%;margin-left:0;
       color: black;
     }
     .form-inline{margin-left:0;margin-right: 8%;}
   }
   @media(min-width:1405px){
     .navbar-brand{
       margin:0;
       position: absolute;
       left: 2%;
     }
      form.form-inline{

       margin-right: 8%;
     }
     .navbar-nav{
       padding-left:20%;
     }
   }
    .form-control{
     width:20%;
     height: auto;

       display: inline-block;
   }html,body{
     width: 100%;
     overflow-x: hidden;
     }
   @media only screen and (max-width:1405px) and (min-width:991px){
     .navbar-brand{
       margin:0;
       position: absolute;
       left: 2%;
     }.navbar-nav{
       position:absolute;
       left:20%;margin-left:0;
     }
   }
   form.form-inline{
    color: white;
     text-align: center;width: auto;min-width: 10%;

   }.svg-inline--fa.fa-w-16{
     width: 20em;
     height: 3em;
     color: white;
   }

  .nav-item{
  margin: auto 0;

  }li.nav-item {
    padding-right: 2%;
  }
.heading-of{
  font-size: 1.32em;
  margin-left: 7%;
  font-weight:600;
}
p{
  margin-bottom:0em;
  //font-size: 1.32em;
  //margin-left: 7%;
  //font-weight:600;
}



 .row.text-center.text-xs-center.text-sm-left.text-md-left {
     margin-top: 4%;
     margin-left: 8%;
   }.row::after {
     content: "";
     clear: both;
     display: table;
   }.row1:after {
     content: "";
     display: table;
     clear: both;
   }.column {
     float: left;
     width: 25%;
     padding:5px;
   }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;


}
.dropbtn {
  color: white;
  background-color: #0d4d6e;
font-size: 1.2em;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;

}@media(min-width:992px){
.collapse {
  margin-left: 40px;
  padding-left: 30px;
}
.closebtn , .openbtn{
  display:none;
}
.column a{
  display:block;
  }}
.navbar-light .navbar-nav .nav-link{
  color:white;
  font-size: 1.2em;
}
.nav-link:hover{
  color:black;
}
@media(min-width:992px){
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;text-align: left;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 400%;
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;padding:1rem 1rem;
  font-size: 1rem;
}
.dropdown-content.a{
  min-width:800%;
}

.heading-of{
  font-size: 1rem;
  color: green;
}}
/* Links inside the dropdown */
@media(min-width:992px){
#navbarNavDropdown{
  margin-left: 16%;

}}
.dropdown-content a {
  color: black;
  padding: 0.2rem;
  text-decoration: none;
  display: block;

}
@media(min-width:992px){
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #086972;
color:black;}}

.navbar{
    background-color: #0d4d6e;
    color:black;
    padding-left:5%;
    padding-top: 0;
    padding-bottom: 0;
  }.navbar-brand{
    height:2rem;
    padding-top: 0;
    padding-bottom: 0;  margin-left: 8%;
      display: inline-block;
  }nav{
    height:4rem;
  }

.navbar-nav{
  text-align:center;
  width:100%;margin-top: 0;

}
.container2{
  margin-right: 0;
}
.container2{
  margin-left: 10%;text-align: center;
}
@media(max-width:618px){
  .navbar{
    width:100%;
  }h1.types1 {
      margin-top: 3.5%;
      padding-left: 7%;
      text-align: left;
      font-weight: 700;
      font-size: 3rem;}
  body{

    box-sizing: inherit;
    width:100%;
    margin:0;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  body{
    overflow-x: hidden;
  }
html{
  box-sizing: border-box;
}
}



















p{
  margin-bottom: 1em;

}

#footer{
padding: 2%;

background: #262626
}
.container3{
  padding-top: 2%;
  text-align: center;
}
a{
  color: white;
}
.row.text-center.text-xs-center.text-sm-left.text-md-left {
    margin-top: 4%;
    margin-left: 8%;
  }
  h7{
    color: white;
    font-size: 2em;
  }
  .h6, h6 {
      font-size: 1.26rem;
      color: lightcyan;
  }
svg.svg-inline--fa.fa-twitter.fa-w-16.iconn{
  height: 1.2em;
  width: auto;
  font-size: 1.56em;
  color: white;
}
.iconn{
  font-size: 1.78em;
}
li.list-inline-item{
  margin-right: 5%;
  margin-left: 5%;
}
