.log-in-element{
  width:100%;
  height:150px;
  background-color: #0d4d6e;
  color:white;
  font-size: 300%;
    font-weight: 500;
    text-align: center;

}
p{
  font-weight: 600;
}
.btn{
  background-color:#262626;
  border-color:#262626;
  color:white;
  width:inherit;
  border-radius: 0;
  width:50%;
  margin-left: 25%;

}
.btn-outline-success:hover{
  background-color:#262626;
  border-color:#262626;
  color:white;

  border-radius: 0;

}
.log-in-form{margin-bottom: 5%;
  width:50%;
  margin-left:25%;
  padding-top:3%;
}
.mail{
  width: 100%;

    border: none;
    background-color: white;
  outline: none;

}
.form-style{
  width:35%;
  margin:0 7%;
  display: inline-block;
}
.create-account{
  color: black;
    font-weight: 600;
    font-size: 1.2em;
}
.create-account1{
  color: #c74447;
    font-weight: 600;
    font-size: 1.2em;
}
